/*!
 * Project_Name: Compass Starter
 * Author: Ariona, Rian
 * Email: yans_fied[at]yahoo.com
 * Url: http://www.ariona.net
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
 article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.main {
  /*
   * Global Styles
   */
  /*
   * Reusable Components Style
   */
  /*
   * Header Styles
   */
  /*
   * Footer Styles
   */
}
.main a {
  background: transparent;
}
.main a:focus {
  outline: thin dotted;
}
.main a:hover, .main a:active {
  outline: 0;
}
.main h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.main h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.main h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.main h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
.main h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.main h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
.main abbr[title] {
  border-bottom: 1px dotted;
}
.main b, .main strong {
  font-weight: bold;
}
.main dfn {
  font-style: italic;
}
.main mark {
  background: #ff0;
  color: #000;
}
.main code, .main kbd, .main pre, .main samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.main pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.main q:before, .main q:after {
  content: '';
  content: none;
}
.main small {
  font-size: 80%;
}
.main sub, .main sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.main sup {
  top: -0.5em;
}
.main sub {
  bottom: -0.25em;
}
.main img {
  border: 0;
}
.main svg:not(:root) {
  overflow: hidden;
}
.main figure {
  margin: 0;
}
.main fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.main legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
.main button, .main input, .main select, .main textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
.main button, .main input {
  line-height: normal;
}
.main button, .main select {
  text-transform: none;
}
.main button, .main html input[type="button"], .main input[type="reset"], .main input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.main button[disabled], .main input[disabled] {
  cursor: default;
}
.main input[type="checkbox"], .main input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.main input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
.main input[type="search"]::-webkit-search-cancel-button, .main input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.main button::-moz-focus-inner, .main input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.main textarea {
  overflow: auto;
  vertical-align: top;
}
.main table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main *, .main *:before, .main *:after {
  box-sizing: border-box;
}
.main html {
  font-size: 14px;
}
.main body {
  color: #89837c;
  font-family: arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  margin: 0 0 20px;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
}
.main hr {
  border: none;
  border-bottom: 1px solid #777;
}
.main ul, .main ol {
  margin: 0;
  padding-left: 0;
}
.main a {
  text-decoration: none;
  color: #8f7655;
}
.main address {
  font-style: normal;
}
.main p {
  margin-top: 0;
}
.main form input, .main form textarea, .main form select {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.main form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.main form textarea {
  resize: vertical;
}
.main form input[type="submit"], .main form button, .main form input[type="reset"] {
  border: none;
}
.main .button, .main form input[type="submit"], .main form button, .main form input[type="reset"] {
  display: inline-block;
  background: #e2caae;
  background: -webkit-linear-gradient(#e2caae, #c39f70);
  background: linear-gradient(#e2caae, #c39f70);
  border-bottom: 1px solid #a68861;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 25px;
  border-radius: 5px;
  color: #715b3e;
  text-transform: uppercase;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
}
.main .button.secondary, .main form input.secondary[type="submit"], .main form button.secondary, .main form input.secondary[type="reset"] {
  background: #e3dfda;
  background: -webkit-linear-gradient(#e3dfda, #d0cbc4);
  background: linear-gradient(#e3dfda, #d0cbc4);
  border-bottom: 1px solid #b1aea8;
  color: #7c7975;
}
.main .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.main .container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 768px) {
  .main .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main .container {
    width: 1170px;
  }
}
.main .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.main .container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.main .row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}
.main .row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.main .col-xs-1, .main .col-sm-1, .main .col-md-1, .main .col-lg-1, .main .col-xs-2, .main .col-sm-2, .main .col-md-2, .main .col-lg-2, .main .col-xs-3, .main .col-sm-3, .main .col-md-3, .main .col-lg-3, .main .col-xs-4, .main .col-sm-4, .main .col-md-4, .main .col-lg-4, .main .col-xs-5, .main .col-sm-5, .main .col-md-5, .main .col-lg-5, .main .col-xs-6, .main .col-sm-6, .main .col-md-6, .main .col-lg-6, .main .col-xs-7, .main .col-sm-7, .main .col-md-7, .main .col-lg-7, .main .col-xs-8, .main .col-sm-8, .main .col-md-8, .main .col-lg-8, .main .col-xs-9, .main .col-sm-9, .main .col-md-9, .main .col-lg-9, .main .col-xs-10, .main .col-sm-10, .main .col-md-10, .main .col-lg-10, .main .col-xs-11, .main .col-sm-11, .main .col-md-11, .main .col-lg-11, .main .col-xs-12, .main .col-sm-12, .main .col-md-12, .main .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.main .col-xs-1, .main .col-xs-2, .main .col-xs-3, .main .col-xs-4, .main .col-xs-5, .main .col-xs-6, .main .col-xs-7, .main .col-xs-8, .main .col-xs-9, .main .col-xs-10, .main .col-xs-11, .main .col-xs-12 {
  float: left;
}
.main .col-xs-1 {
  width: 8.33333%;
}
.main .col-xs-2 {
  width: 16.66667%;
}
.main .col-xs-3 {
  width: 25%;
}
.main .col-xs-4 {
  width: 33.33333%;
}
.main .col-xs-5 {
  width: 41.66667%;
}
.main .col-xs-6 {
  width: 50%;
}
.main .col-xs-7 {
  width: 58.33333%;
}
.main .col-xs-8 {
  width: 66.66667%;
}
.main .col-xs-9 {
  width: 75%;
}
.main .col-xs-10 {
  width: 83.33333%;
}
.main .col-xs-11 {
  width: 91.66667%;
}
.main .col-xs-12 {
  width: 100%;
}
.main .col-xs-pull-0 {
  right: auto;
}
.main .col-xs-pull-1 {
  right: 8.33333%;
}
.main .col-xs-pull-2 {
  right: 16.66667%;
}
.main .col-xs-pull-3 {
  right: 25%;
}
.main .col-xs-pull-4 {
  right: 33.33333%;
}
.main .col-xs-pull-5 {
  right: 41.66667%;
}
.main .col-xs-pull-6 {
  right: 50%;
}
.main .col-xs-pull-7 {
  right: 58.33333%;
}
.main .col-xs-pull-8 {
  right: 66.66667%;
}
.main .col-xs-pull-9 {
  right: 75%;
}
.main .col-xs-pull-10 {
  right: 83.33333%;
}
.main .col-xs-pull-11 {
  right: 91.66667%;
}
.main .col-xs-pull-12 {
  right: 100%;
}
.main .col-xs-push-0 {
  left: auto;
}
.main .col-xs-push-1 {
  left: 8.33333%;
}
.main .col-xs-push-2 {
  left: 16.66667%;
}
.main .col-xs-push-3 {
  left: 25%;
}
.main .col-xs-push-4 {
  left: 33.33333%;
}
.main .col-xs-push-5 {
  left: 41.66667%;
}
.main .col-xs-push-6 {
  left: 50%;
}
.main .col-xs-push-7 {
  left: 58.33333%;
}
.main .col-xs-push-8 {
  left: 66.66667%;
}
.main .col-xs-push-9 {
  left: 75%;
}
.main .col-xs-push-10 {
  left: 83.33333%;
}
.main .col-xs-push-11 {
  left: 91.66667%;
}
.main .col-xs-push-12 {
  left: 100%;
}
.main .col-xs-offset-0 {
  margin-left: 0%;
}
.main .col-xs-offset-1 {
  margin-left: 8.33333%;
}
.main .col-xs-offset-2 {
  margin-left: 16.66667%;
}
.main .col-xs-offset-3 {
  margin-left: 25%;
}
.main .col-xs-offset-4 {
  margin-left: 33.33333%;
}
.main .col-xs-offset-5 {
  margin-left: 41.66667%;
}
.main .col-xs-offset-6 {
  margin-left: 50%;
}
.main .col-xs-offset-7 {
  margin-left: 58.33333%;
}
.main .col-xs-offset-8 {
  margin-left: 66.66667%;
}
.main .col-xs-offset-9 {
  margin-left: 75%;
}
.main .col-xs-offset-10 {
  margin-left: 83.33333%;
}
.main .col-xs-offset-11 {
  margin-left: 91.66667%;
}
.main .col-xs-offset-12 {
  margin-left: 100%;
}
@media (min-width: 768px) {
  .main .col-sm-1, .main .col-sm-2, .main .col-sm-3, .main .col-sm-4, .main .col-sm-5, .main .col-sm-6, .main .col-sm-7, .main .col-sm-8, .main .col-sm-9, .main .col-sm-10, .main .col-sm-11, .main .col-sm-12 {
    float: left;
  }
  .main .col-sm-1 {
    width: 8.33333%;
  }
  .main .col-sm-2 {
    width: 16.66667%;
  }
  .main .col-sm-3 {
    width: 25%;
  }
  .main .col-sm-4 {
    width: 33.33333%;
  }
  .main .col-sm-5 {
    width: 41.66667%;
  }
  .main .col-sm-6 {
    width: 50%;
  }
  .main .col-sm-7 {
    width: 58.33333%;
  }
  .main .col-sm-8 {
    width: 66.66667%;
  }
  .main .col-sm-9 {
    width: 75%;
  }
  .main .col-sm-10 {
    width: 83.33333%;
  }
  .main .col-sm-11 {
    width: 91.66667%;
  }
  .main .col-sm-12 {
    width: 100%;
  }
  .main .col-sm-pull-0 {
    right: auto;
  }
  .main .col-sm-pull-1 {
    right: 8.33333%;
  }
  .main .col-sm-pull-2 {
    right: 16.66667%;
  }
  .main .col-sm-pull-3 {
    right: 25%;
  }
  .main .col-sm-pull-4 {
    right: 33.33333%;
  }
  .main .col-sm-pull-5 {
    right: 41.66667%;
  }
  .main .col-sm-pull-6 {
    right: 50%;
  }
  .main .col-sm-pull-7 {
    right: 58.33333%;
  }
  .main .col-sm-pull-8 {
    right: 66.66667%;
  }
  .main .col-sm-pull-9 {
    right: 75%;
  }
  .main .col-sm-pull-10 {
    right: 83.33333%;
  }
  .main .col-sm-pull-11 {
    right: 91.66667%;
  }
  .main .col-sm-pull-12 {
    right: 100%;
  }
  .main .col-sm-push-0 {
    left: auto;
  }
  .main .col-sm-push-1 {
    left: 8.33333%;
  }
  .main .col-sm-push-2 {
    left: 16.66667%;
  }
  .main .col-sm-push-3 {
    left: 25%;
  }
  .main .col-sm-push-4 {
    left: 33.33333%;
  }
  .main .col-sm-push-5 {
    left: 41.66667%;
  }
  .main .col-sm-push-6 {
    left: 50%;
  }
  .main .col-sm-push-7 {
    left: 58.33333%;
  }
  .main .col-sm-push-8 {
    left: 66.66667%;
  }
  .main .col-sm-push-9 {
    left: 75%;
  }
  .main .col-sm-push-10 {
    left: 83.33333%;
  }
  .main .col-sm-push-11 {
    left: 91.66667%;
  }
  .main .col-sm-push-12 {
    left: 100%;
  }
  .main .col-sm-offset-0 {
    margin-left: 0%;
  }
  .main .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .main .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .main .col-sm-offset-3 {
    margin-left: 25%;
  }
  .main .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .main .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .main .col-sm-offset-6 {
    margin-left: 50%;
  }
  .main .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .main .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .main .col-sm-offset-9 {
    margin-left: 75%;
  }
  .main .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .main .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .main .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .main .col-md-1, .main .col-md-2, .main .col-md-3, .main .col-md-4, .main .col-md-5, .main .col-md-6, .main .col-md-7, .main .col-md-8, .main .col-md-9, .main .col-md-10, .main .col-md-11, .main .col-md-12 {
    float: left;
  }
  .main .col-md-1 {
    width: 8.33333%;
  }
  .main .col-md-2 {
    width: 16.66667%;
  }
  .main .col-md-3 {
    width: 25%;
  }
  .main .col-md-4 {
    width: 33.33333%;
  }
  .main .col-md-5 {
    width: 41.66667%;
  }
  .main .col-md-6 {
    width: 50%;
  }
  .main .col-md-7 {
    width: 58.33333%;
  }
  .main .col-md-8 {
    width: 66.66667%;
  }
  .main .col-md-9 {
    width: 75%;
  }
  .main .col-md-10 {
    width: 83.33333%;
  }
  .main .col-md-11 {
    width: 91.66667%;
  }
  .main .col-md-12 {
    width: 100%;
  }
  .main .col-md-pull-0 {
    right: auto;
  }
  .main .col-md-pull-1 {
    right: 8.33333%;
  }
  .main .col-md-pull-2 {
    right: 16.66667%;
  }
  .main .col-md-pull-3 {
    right: 25%;
  }
  .main .col-md-pull-4 {
    right: 33.33333%;
  }
  .main .col-md-pull-5 {
    right: 41.66667%;
  }
  .main .col-md-pull-6 {
    right: 50%;
  }
  .main .col-md-pull-7 {
    right: 58.33333%;
  }
  .main .col-md-pull-8 {
    right: 66.66667%;
  }
  .main .col-md-pull-9 {
    right: 75%;
  }
  .main .col-md-pull-10 {
    right: 83.33333%;
  }
  .main .col-md-pull-11 {
    right: 91.66667%;
  }
  .main .col-md-pull-12 {
    right: 100%;
  }
  .main .col-md-push-0 {
    left: auto;
  }
  .main .col-md-push-1 {
    left: 8.33333%;
  }
  .main .col-md-push-2 {
    left: 16.66667%;
  }
  .main .col-md-push-3 {
    left: 25%;
  }
  .main .col-md-push-4 {
    left: 33.33333%;
  }
  .main .col-md-push-5 {
    left: 41.66667%;
  }
  .main .col-md-push-6 {
    left: 50%;
  }
  .main .col-md-push-7 {
    left: 58.33333%;
  }
  .main .col-md-push-8 {
    left: 66.66667%;
  }
  .main .col-md-push-9 {
    left: 75%;
  }
  .main .col-md-push-10 {
    left: 83.33333%;
  }
  .main .col-md-push-11 {
    left: 91.66667%;
  }
  .main .col-md-push-12 {
    left: 100%;
  }
  .main .col-md-offset-0 {
    margin-left: 0%;
  }
  .main .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .main .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .main .col-md-offset-3 {
    margin-left: 25%;
  }
  .main .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .main .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .main .col-md-offset-6 {
    margin-left: 50%;
  }
  .main .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .main .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .main .col-md-offset-9 {
    margin-left: 75%;
  }
  .main .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .main .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .main .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .main .col-lg-1, .main .col-lg-2, .main .col-lg-3, .main .col-lg-4, .main .col-lg-5, .main .col-lg-6, .main .col-lg-7, .main .col-lg-8, .main .col-lg-9, .main .col-lg-10, .main .col-lg-11, .main .col-lg-12 {
    float: left;
  }
  .main .col-lg-1 {
    width: 8.33333%;
  }
  .main .col-lg-2 {
    width: 16.66667%;
  }
  .main .col-lg-3 {
    width: 25%;
  }
  .main .col-lg-4 {
    width: 33.33333%;
  }
  .main .col-lg-5 {
    width: 41.66667%;
  }
  .main .col-lg-6 {
    width: 50%;
  }
  .main .col-lg-7 {
    width: 58.33333%;
  }
  .main .col-lg-8 {
    width: 66.66667%;
  }
  .main .col-lg-9 {
    width: 75%;
  }
  .main .col-lg-10 {
    width: 83.33333%;
  }
  .main .col-lg-11 {
    width: 91.66667%;
  }
  .main .col-lg-12 {
    width: 100%;
  }
  .main .col-lg-pull-0 {
    right: auto;
  }
  .main .col-lg-pull-1 {
    right: 8.33333%;
  }
  .main .col-lg-pull-2 {
    right: 16.66667%;
  }
  .main .col-lg-pull-3 {
    right: 25%;
  }
  .main .col-lg-pull-4 {
    right: 33.33333%;
  }
  .main .col-lg-pull-5 {
    right: 41.66667%;
  }
  .main .col-lg-pull-6 {
    right: 50%;
  }
  .main .col-lg-pull-7 {
    right: 58.33333%;
  }
  .main .col-lg-pull-8 {
    right: 66.66667%;
  }
  .main .col-lg-pull-9 {
    right: 75%;
  }
  .main .col-lg-pull-10 {
    right: 83.33333%;
  }
  .main .col-lg-pull-11 {
    right: 91.66667%;
  }
  .main .col-lg-pull-12 {
    right: 100%;
  }
  .main .col-lg-push-0 {
    left: auto;
  }
  .main .col-lg-push-1 {
    left: 8.33333%;
  }
  .main .col-lg-push-2 {
    left: 16.66667%;
  }
  .main .col-lg-push-3 {
    left: 25%;
  }
  .main .col-lg-push-4 {
    left: 33.33333%;
  }
  .main .col-lg-push-5 {
    left: 41.66667%;
  }
  .main .col-lg-push-6 {
    left: 50%;
  }
  .main .col-lg-push-7 {
    left: 58.33333%;
  }
  .main .col-lg-push-8 {
    left: 66.66667%;
  }
  .main .col-lg-push-9 {
    left: 75%;
  }
  .main .col-lg-push-10 {
    left: 83.33333%;
  }
  .main .col-lg-push-11 {
    left: 91.66667%;
  }
  .main .col-lg-push-12 {
    left: 100%;
  }
  .main .col-lg-offset-0 {
    margin-left: 0%;
  }
  .main .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .main .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .main .col-lg-offset-3 {
    margin-left: 25%;
  }
  .main .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .main .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .main .col-lg-offset-6 {
    margin-left: 50%;
  }
  .main .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .main .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .main .col-lg-offset-9 {
    margin-left: 75%;
  }
  .main .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .main .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .main .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@-ms-viewport {
  width: device-width;
}
.main .visible-xs, .main .visible-sm, .main .visible-md, .main .visible-lg {
  display: none !important;
}
.main .visible-xs-block, .main .visible-xs-inline, .main .visible-xs-inline-block, .main .visible-sm-block, .main .visible-sm-inline, .main .visible-sm-inline-block, .main .visible-md-block, .main .visible-md-inline, .main .visible-md-inline-block, .main .visible-lg-block, .main .visible-lg-inline, .main .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .main .visible-xs {
    display: block !important;
  }
  .main table.visible-xs {
    display: table;
  }
  .main tr.visible-xs {
    display: table-row !important;
  }
  .main th.visible-xs, .main td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .main .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .main .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .main .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .visible-sm {
    display: block !important;
  }
  .main table.visible-sm {
    display: table;
  }
  .main tr.visible-sm {
    display: table-row !important;
  }
  .main th.visible-sm, .main td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main .visible-md {
    display: block !important;
  }
  .main table.visible-md {
    display: table;
  }
  .main tr.visible-md {
    display: table-row !important;
  }
  .main th.visible-md, .main td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .main .visible-lg {
    display: block !important;
  }
  .main table.visible-lg {
    display: table;
  }
  .main tr.visible-lg {
    display: table-row !important;
  }
  .main th.visible-lg, .main td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .main .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .main .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .main .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .main .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .main .hidden-lg {
    display: none !important;
  }
}
.main .visible-print {
  display: none !important;
}
@media print {
  .main .visible-print {
    display: block !important;
  }
  .main table.visible-print {
    display: table;
  }
  .main tr.visible-print {
    display: table-row !important;
  }
  .main th.visible-print, .main td.visible-print {
    display: table-cell !important;
  }
}
.main .visible-print-block {
  display: none !important;
}
@media print {
  .main .visible-print-block {
    display: block !important;
  }
}
.main .visible-print-inline {
  display: none !important;
}
@media print {
  .main .visible-print-inline {
    display: inline !important;
  }
}
.main .visible-print-inline-block {
  display: none !important;
}
@media print {
  .main .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .main .hidden-print {
    display: none !important;
  }
}
.main .site-header {
  position: relative;
  z-index: 999;
  background: white;
  text-align: center;
  padding: 50px 0 30px;
}
.main .branding {
  text-align: center;
}
.main .branding .logo {
  margin-bottom: 10px;
}
.main .branding .site-title {
  color: #8f7655;
  font-size: 14px;
  font-size: 1em;
}
.main .main-navigation {
  border-top: 1px solid #e5e5e5;
}
.main .main-navigation .menu-toggle {
  border: none;
  background: none;
  padding: 20px;
  display: none;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: uppercase;
  outline: none;
}
@media screen and (max-width: 990px) {
  .main .main-navigation .menu-toggle {
    display: inline-block;
  }
}
.main .main-navigation .menu {
  list-style: none;
}
@media screen and (max-width: 990px) {
  .main .main-navigation .menu {
    display: none;
  }
}
.main .main-navigation .menu .menu-item {
  display: inline-block;
  margin: 0 10px;
}
.main .main-navigation .menu .menu-item a {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.28571em;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.main .main-navigation .menu .menu-item a small {
  display: block;
  color: #a59e95;
  font-weight: 300;
  font-size: 10px;
  font-size: 0.71429rem;
}
.main .main-navigation .menu .menu-item.current-menu-item a, .main .main-navigation .menu .menu-item:hover a {
  border-bottom-color: #8f7655;
  border-width: 2px;
  color: #8f7655;
}
.main .mobile-navigation {
  padding: 30px 0;
  display: none;
}
@media screen and (min-width: 991px) {
  .main .mobile-navigation {
    display: none !important;
  }
}
.main .mobile-navigation .menu {
  list-style: none;
}
.main .mobile-navigation .menu .menu-item {
  border-bottom: 1px solid #e5e5e5;
}
.main .mobile-navigation .menu .menu-item:first-child {
  border-top: 1px solid #e5e5e5;
}
.main .mobile-navigation .menu a {
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding: 10px 20px;
}
.main .mobile-navigation .menu a small {
  display: block;
  color: #a59e95;
}
.main .hero {
  position: relative;
}
.main .hero .slides {
  list-style: none;
  *zoom: 1;
}
.main .hero .slides:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.main .hero .slides li {
  background-size: cover;
  width: 100%;
  margin-right: -100%;
  float: left;
  min-height: 545px;
  padding: 150px 0;
}
.main .hero .slides .slide-content {
  text-align: center;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
}
.main .hero .slides .slide-subtitle {
  font-size: 30px;
  font-size: 2.14286em;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}
.main .hero .slides .slide-title {
  font-size: 60px;
  font-size: 4.28571em;
  font-weight: 100;
  margin-bottom: 50px;
}
.main .hero .slides .button, .main .hero .slides form input[type="submit"], .main form .hero .slides input[type="submit"], .main .hero .slides form button, .main form .hero .slides button, .main .hero .slides form input[type="reset"], .main form .hero .slides input[type="reset"] {
  position: relative;
  height: 50px;
  background: url(../images/button-bg.png);
  padding: 15px 10px 15px 25px;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 18px;
  font-size: 1.28571em;
}
.main .hero .slides .button:after, .main .hero .slides form input[type="submit"]:after, .main form .hero .slides input[type="submit"]:after, .main .hero .slides form button:after, .main form .hero .slides button:after, .main .hero .slides form input[type="reset"]:after, .main form .hero .slides input[type="reset"]:after {
  content: " ";
  height: 50px;
  width: 13px;
  background: url(../images/button-bg-right.png) no-repeat;
  position: absolute;
  top: 0;
  left: 100%;
}
.main .hero .flex-control-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  z-index: 9;
  text-align: center;
}
.main .hero .flex-control-nav li {
  display: inline-block;
  margin: 0 5px;
}
.main .hero .flex-control-nav a {
  display: block;
  width: 18px;
  height: 20px;
  background: url(../images/pagination.png);
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}
.main .hero .flex-control-nav a.flex-active {
  background: url(../images/pagination-current.png);
}
.main .hero .slides #slide-1 {
  background: url(../images/slide-1.jpg);
}
.main .hero .slides #slide-2 {
  background: url(../images/slide-1.jpg);
}
.main .page-head {
  background-size: cover;
  padding: 50px;
  text-align: center;
  background: url(../images/page-head-1.jpg);
}
.main .page-head .page-title {
  font-weight: 100;
  font-size: 72px;
  font-size: 5.14286em;
  margin-bottom: 0;
  color: white;
  word-break: break-word;
}
@media screen and (max-width: 640px) {
  .main .page-head .page-title {
    font-size: 48px;
    font-size: 3.42857em;
  }
}
.main .fullwidth-block {
  padding: 50px 0;
}
.main .fullwidth-block .section-title {
  font-size: 24px;
  font-size: 1.71429em;
  text-transform: uppercase;
  color: #544531;
}
.main .news {
  text-align: center;
  margin-bottom: 30px;
}
.main .news .news-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.main .news .news-title {
  font-size: 14px;
  font-size: 1em;
  margin: 0 0 10px;
}
.main .news .date {
  color: #a59e95;
  font-size: 12px;
  font-size: 0.85714em;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: lowercase;
}
.main .news .date .fa {
  font-size: 16px;
  font-size: 1.14286rem;
  margin-right: 5px;
}
.main .event-list {
  list-style: none;
  margin-bottom: 30px;
}
.main .event-list li {
  padding: 10px 50% 10px 0;
  padding-right: 50%;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.main .event-list li:first-child {
  border-top: 1px solid #e5e5e5;
}
.main .event-list .event-title {
  text-align: center;
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;
  font-size: 1em;
}
.main .event-list .event-meta {
  position: absolute;
  width: 50%;
  right: 0;
  color: #a59e95;
  font-size: 12px;
  font-size: 0.85714em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: lowercase;
  *zoom: 1;
}
.main .event-list .event-meta:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.main .event-list .event-meta span {
  width: 50%;
  float: left;
  font-size: 12px;
  font-size: 0.85714rem;
}
.main .event-list .event-meta span .fa {
  margin-right: 5px;
}
.main .event-list.large li {
  padding: 20px 0;
}
.main .event-list.large .event-title {
  display: block;
  margin-bottom: 10px;
}
.main .event-list.large .event-meta {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.main .event-list.large .event-meta span {
  width: auto;
  margin-right: 30px;
}
.main .event-list.large .event-meta .date {
  width: 150px;
}
.main .text-center {
  text-align: center;
}
.main .text-right {
  text-align: right;
}
.main .seremon-list {
  list-style: none;
  margin-bottom: 30px;
}
.main .seremon-list li {
  padding: 10px 0 10px 80px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  min-height: 70px;
}
.main .seremon-list li:first-child {
  border-top: 1px solid #e5e5e5;
}
.main .seremon-list img {
  position: absolute;
  left: 0;
  top: 10px;
}
.main .seremon-list .seremon-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 1em;
}
.main .seremon-list .seremon-meta {
  font-size: 12px;
  font-size: 0.85714em;
  color: #a59e95;
  font-family: "Novecento Sans", "Raleway", "Noto Sans" "Open Sans", sans-serif;
  text-transform: lowercase;
}
.main .seremon-list .seremon-meta .pastor {
  margin-bottom: 5px;
}
.main .seremon-list .seremon-meta .fa {
  width: 20px;
}
.main .seremon-list.large li {
  padding-left: 140px;
  min-height: 150px;
}
.main .seremon-list.large .seremon-meta .pastor, .main .seremon-list.large .seremon-meta .date {
  display: inline-block;
  margin-right: 20px;
}
.main .family {
  width: 33.333%;
  float: left;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  .main .family {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .main .family {
    width: 100%;
  }
}
.main .family .family-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
.main .family .family-name {
  margin-bottom: 5px;
  font-size: 14px;
  font-size: 1em;
  font-weight: 600;
}
.main .sidebar .widget {
  margin-bottom: 40px;
}
.main .sidebar .widget .widget-title {
  color: #544531;
  font-size: 18px;
  font-size: 1.28571em;
  font-weight: 600;
}
.main .arrow {
  list-style-image: url(../images/arrow.png);
  list-style-position: inside;
}
.main .arrow li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.main .arrow li a {
  display: block;
  color: #89837c;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.main .arrow li a:hover {
  color: #8f7655;
}
.main .site-footer {
  background: #363641;
  padding: 50px 0;
  color: #acacb1;
}
.main .site-footer .widget {
  margin-bottom: 30px;
}
.main .site-footer .widget .widget-title {
  color: #dcc2a0;
  font-size: 18px;
  font-size: 1.28571em;
}
.main ul.address {
  list-style: none;
}
.main ul.address .fa {
  width: 20px;
  text-align: center;
  color: #dcc2a0;
}
.main ul.bullet {
  list-style-image: url(../images/bullet.png);
  list-style-position: inside;
}
.main ul.bullet li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main ul.bullet li a {
  color: #acacb1;
}
.main ul.bullet li a:hover {
  color: #8f7655;
}
.main .contact-form input:not([type="submit"]), .main .contact-form textarea {
  margin-bottom: 20px;
  width: 100%;
  background: #292932;
  padding: 15px;
  color: #acacb1;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.main .contact-form textarea {
  min-height: 150px;
}
.main .donation-p {
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
}
.main .p-separator {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.main .current-menu-item {
  border-bottom-color: #8f7655;
  border-width: 2px;
}
.main .donation .donation-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.main .active-menu {
  border-bottom-color: #8f7655 !important;
  border-width: 2px !important;
  color: #8f7655 !important;
}
