.main .donation-payment-wrapper form {
  max-width: 80%;
  text-align: center;
  margin: 20px auto;
}
.main .donation-payment-wrapper .donation-payment .donation-form input, .main .donation-payment-wrapper form textarea {
  background-color: #F4F3EF;
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-family: "Merriweather", sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.main .donation-payment-wrapper form input:focus, .main .donation-payment-wrapper form textarea:focus {
  -moz-box-shadow: 0 0px 2px #C5A275 !important;
  -webkit-box-shadow: 0 0px 2px #C5A275 !important;
  box-shadow: 0 0px 2px #C5A275 !important;
}
.main .donation-payment-wrapper form #input-submit {
  color: white;
  background: #C5A275;
  cursor: pointer;
}
.main .donation-payment-wrapper form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.main .donation-payment-wrapper form textarea {
  height: 126px;
}
.main .donation-payment-wrapper .donation-payment .donation-form select {
  background-color: #F4F3EF;
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  font-family: "Merriweather", sans-serif;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.main .donation-payment-wrapper .half-right-cf {
  margin-bottom: 20px;
}
.main .donation-payment-wrapper .payment-button {
  margin-bottom: 20px;
  margin-top: 20px;
  border-width: 0px;
  font-weight: 400;
  line-height: normal;
  color: #715b3e;
  border-bottom: 1px solid #a68861;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#e2caae), to(#c39f70));
  background: -webkit-linear-gradient(#e2caae, #c39f70);
  background: -o-linear-gradient(#e2caae, #c39f70);
  background: linear-gradient(#e2caae, #c39f70);
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .main .donation-payment-wrapper .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
.main .donation-payment-wrapper .cf:before,
.main .donation-payment-wrapper .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.main .donation-payment-wrapper .cf:after {
  clear: both;
}
.main .donation-payment-wrapper .donation-payment .donation-form {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0px 2px 20px 0.5px #ccc;
  border-radius: 4px;
}
.main .donation-payment-wrapper .donation-form-title {
  color: #8f7655;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 20px;
}
.main .donation-payment-wrapper .donation-payment .column {
  float: none;
  width: 36%;
  margin-left: 32%;
}
.main .donation-payment-wrapper .donation-payment .row {
  margin: 20px -5px;
}
.main .donation-payment-wrapper .donation-payment .row:after {
  content: "";
  display: table;
  clear: both;
}
.main .donation-payment-wrapper .donation-payment .card {
  display: table;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f4f3ef;
}
@media screen and (max-width: 600px) {
  .main .donation-payment-wrapper .card {
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    word-break: break-word;
  }
}